/*homepage*/
#recomended figcaption{ 
    padding: 25px; 
    color: #212121;
    text-align: center;
}
#recomended figcaption p{ 
  margin-bottom: 0;
  font-weight: 400;
}
#recomended figcaption p.category { 
    position: relative; 
    margin-bottom: 10px;
}
#recomended figcaption p.category:before {
  content: "";
  position: absolute;
  border-top: 1px solid #ccc;
  width: 100%;
  left: 0;
  top: 12px;
  z-index: -1;
}
#recomended figcaption p.category span {
  z-index: 1;
  background-color: #f8f8f8;
  padding: 10px;
  color: #777;
  font-weight: 100;
}
#recomended img.no-image{ margin: 0 auto; }


/*homepage - gallery*/
#gallery .carousel-inner{ max-height: 480px; }

/*question - slider*/
#carousel-question .carousel-inner > .item {
    margin: 50px 100px;
    padding: 30px 40px 20px;
    border: 1px solid #c97e69;
    border-radius: 15px;
    background-color: #F4F4F4;
    font-size: 15px;
}
#carousel-question .carousel-inner > .item .item-detail{
    margin-bottom: 25px;
}
#carousel-question .carousel-inner > .item .item-detail h3{
	color: #9e4f38;
    border-bottom: 1px solid #c97e69;
    padding-bottom: 8px;
    margin-bottom: 10px;
    font-size: 17px;
}
#carousel-question .carousel-inner > .item .item-detail p{ margin: 0 0 10px; }
#carousel-question .carousel-inner > .item .item-detail input[type="radio"]{ 
    margin-right: 10px;
    vertical-align: sub;
}
.container.question,
.submit-button{ display: none; }
#carousel-question .carousel-inner > .item .item-detail p.submit-button{ margin-top: 20px; }

/*blog detail*/
.blog-post .featured-img{ margin-right: 20px; }
.blog-item-header h2{ text-transform: capitalize; }
.recent-post img{ max-width: 92px; }
.blog-post-details-item { margin-bottom: 15px; }

/*Plan page*/
#wisata-result table { border: 2px solid #bc5e43; }
#wisata-result table tr, 
#wisata-result table td, 
#wisata-result table th {
  border: 1px solid #bc5e43;
  padding: 10px;
}
#wisata-result table th{ color: #bc5e43; }


/*RESPONSIVE*/

@media (min-width: 768px) and (max-width: 991px) {
  /* blog page */
  .recent-posts ul li{
    float: left;
    width: 50%;
  }
  .recent-posts ul li:nth-child(2n+1){ clear: both; }
}
@media (min-width: 768px) {
  /* blog page */
  .blog-list .col-md-5{ 
    width: 41.66666666666667%;
    float: left;
  }
  .blog-list .col-md-7{ 
    width: 58.333333333333336%;
    float: left;
  }
}

@media (max-width: 767px) {
  /* homepage - blog */
  .portfolio-group .col-md-4{ 
    width: 50%;
    float: left;
  }
  .portfolio-group .portfolio-item:nth-child(2n+1){ clear: both; }

  /* blog page */
  .blog-post-body .col-md-5{ margin-bottom: 10px; }
}

@media (max-width: 480px) {
  /* homepage - blog */
  .portfolio-group .col-md-4{ 
    width: 100%;
    float: none;
  }

  /* login page */
  .container.login { padding: 0; }

  /* register page */
  .container.register { padding: 0 20px; }
}